@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$font-family-sans-serif-primary: "PT Sans", sans-serif;
$font-family-sans-serif-secondary: "PT Sans Narrow", sans-serif;

$color-accent: #cce8e5;
$color-white: #ffffff;
$color-dark: #323b3c;
$color-primary: #516163;
$body-bg: $color-white;
